// <div className='stats-bar'>
// <div className='stat'>
//     <p className='stat-label'>Active</p>
//     <p className='stat-figure'>5,361,549</p>
// </div>
// </div>

.stat {
  border-left: 0.02em rgba(255, 255, 255, 0.2) solid;
  padding: 0 3em;
  text-align: left;
}

.stat-label {
  font-weight: 500;
  font-size: 0.7em;
  margin: 0;

  &.red {
    color: red !important;
  }

  &.green {
    color: green !important;
  }
}

.stat-figure {
  font-weight: 500;
  font-size: 1.4em;
  margin: 0;
}


