.table {
  color: white;
  font-size: 0.7em;
  display: block;
  max-height: 30em;
  padding-right: 10px;
  width: 100%;

  tr {
    padding: 10em 1em;
  }

  th {
    position: sticky;
    cursor: pointer;
    
    &.active {
      text-decoration: underline;
      background: rgb(28, 28, 28);
    }
  }

  td.green {
    color: rgb(0, 221, 0) !important;
    font-weight: 600;
  }
  td.red {
    color: rgb(255, 0, 0) !important;
    font-weight: 600;
  }
}

td, th {
  min-width: 10em;
}

.table-div {
  overflow-y: scroll;
}

.table-div::-webkit-scrollbar {
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 1em;
}

.table-div::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 1em;
}

.table-div::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 101, 0);
}

.down-arrow, .up-arrow {
  position: absolute;
  right: 0;
  top: 0;
}
